/Chat Together/bin/Debug
/Chat Together/bin/Port.txt
/Chat Together/obj
/Form Functions/bin
/Form Functions/obj
/TestSocket/obj
/TestSocket/bin
/.vs
*.exe
*.suo
*.user
_ReSharper.*
/TestSocketTests
/packages/Microsoft.Bcl.AsyncInterfaces.6.0.0
/packages/MSTest.TestAdapter.2.2.7
/packages
